/* ReviewsMobile */
.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../images/reviewsBack.jpeg');
  background-size: cover;
  background-position: center;
  z-index: -1;
}


/* animate icon */
@keyframes hbounce {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
}
.animate-hbounce {
  animation: hbounce 2s infinite;
}


.fade-up {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeUpAnimation 4s ease forwards;
}
@keyframes fadeUpAnimation {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.glass-back{
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.38);
  border-radius: 12px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.3px);
  -webkit-backdrop-filter: blur(9.3px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}




