/* ReviewsMobile */
.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../images/reviewsBack.jpeg');
  background-size: cover;
  background-position: center;
  z-index: -1;
}


/* animate icon */
@keyframes hbounce {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
}

.animate-hbounce {
  animation: hbounce 2s infinite;
}





