@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    @font-face{
        font-family: "Catchy";
        font-weight: 700;
        src: url("./public/fonts/CatchyMager-Normal.ttf");
    }
    @font-face{
        font-family: "CocoGothic";
        font-weight: 700;
        src: url("./public/fonts/CocoGothic-Bold_trial.ttf");
    }
}